
services:
  aerofix-db:
    image: postgres:16-alpine
    container_name: aerofix_postgres_container
    restart: always
    environment:
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aerofix_user -d aerofix_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: